.welcome-user{
    display: flex;
    padding: 1.5em;
    background-color: rgba(255, 159, 67, 0.6);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;   
    font-weight: bold; 
  }

  .welcome-user span {
    color: white;
  }

  

.auth_user{
    display: flex;
    padding: 1.5em;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;   
    
}

.container_auth_user {
    display: flex;
    border-radius: 10px;
    padding: 1.5em 2.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;   
    font-weight: bold;
    text-align: center;
}

.submit-button{
    background-color: #0275d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgba(255, 159, 67, 1);  
    color: black;
  }


  /* --------- */
  /* .auth_user{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container_auth_user {
    border: 3px solid  #283747;
    border-radius: 10px;
    width: 25%;
    height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_user h2{
    color: #283747;

}

.auth_user form{
    width: 50%;
    
}

.auth_user input{
    height: 40px;
    width: 100%;

    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;

    border: 1px solid #283747;
    
}

.auth_user button{
    width: 100%;
    height: 40px;

    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}

.auth_user button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
}

#Account {
    width: 100%;
    height: 120%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  
  #Account h2 {
    font-size: 30px;
    color: #283747;
  }
  #Account span {
    color: crimson;
    font-weight: bold;
  } 
  
#User {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #User h2 {
    font-size: 50px;
    color: #283747;
  }
  
  #User span {
    color: crimson;
    font-weight: bold;
  }
  
#Account {
    width: 100%;
    height: 120%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    padding: 70px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  
  #Account h2 {
    font-size: 30px;
    color: #283747;
  }
  #Account span {
    color: crimson;
    font-weight: bold;
  }

.transacction {
  margin: 0;
  padding: 0%;
  height: 130%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_transacction {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transacction h2 {
  color: #283747;
}

.transacction form {
  width: 50%;
}

.transacction input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.transacction button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}

.transacction button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}

  */